test_hm/submissions/scripts/atlas*
*.~
*.c*
*.so
.DS_Store
*.log
dist/
html/
pycbc_inspiralc
build/
*.pyc
docs/Makefile
PyCBC.egg-info
test_hm/playground/.ipynb_checkpoints/*
test_hm/TESTING-4096.hdf
test_hm/frames/*
test_hm/playground/segments/*.json
*.png
test_hm/TESTING-4096.hdf
test_hm/older_fake_o3.sh
test_hm/old_fake_o3.sh
test_hm/injection-gw170817.xml
test_hm/gw170817.sh
test_hm/gw170817.sh
test_hm/edit_old_fake_o3.sh
test_hm/inj/.ipynb_checkpoints/check_bank-checkpoint.ipynb
test_hm/inj/.ipynb_checkpoints/check_injection_distributions-checkpoint.ipynb
test_hm/TESTING-512.hdf
*.hdf5
*.gwf
*.hdf
test_hm/playground/multi_inspiral_dev/.ipynb_checkpoints/More_optimization_idx_combinations-checkpoint.ipynb
test_hm/playground/multi_inspiral_dev/.ipynb_checkpoints/timeslides-checkpoint.ipynb
test_hm/missedfound
test_hm/error.sh
test_hm/coinc.sh
test_hm/submissions/scripts/atlas_real_o3.sh
